/* .qbVariantHide {
    display: none;
} */

.variantHeader, .variantInputBox {
    display: none;
}
.variantHeaderShow{
    display: block;
}


.variantInputBox {
    color: black;
    display:none;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    align-items: center; 

    input[type="radio"] {
        // display: none;
        margin-right: 5px;
        margin-top: -5px;
    }

    /* label[for = "qbAustralia"] {
        // display: ;
    } */
  
}


.introParaShow {
    display: block;
}

.qbOnlineHide {
    display: none;
}

.qbOnlineHeader {
    margin-top: 10px;
    display: none;
}

.qbOnlineShow {
    display: block
}


.qbOnlineHeader, .qbOnlineHide {
    color:black;
}



/* #introPara {
    margin: 0 0;
    width: 300px;
} */
